@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #fdf6e3;
    color: #333;
}


header {
    background: #b0e0e6;
    padding: 10px;
    border-radius: 10px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 10px 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff69b4;
}

.container {
    padding: 20px 10%;
    text-align: center;
}

.container h1,
.container p {
    margin-bottom: 20px;
}

.container form {
    max-width: 600px;
    margin: 0 auto;
}

.container form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.container form input[type="text"],
.container form input[type="email"],
.container form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.container form textarea {
    resize: vertical;
}

.container form button {
    background-color: #4682b4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container form button:hover {
    background-color: #20b2aa;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #b0e0e6;
    border-radius: 10px;
    margin-top: 20px;
}

footer a {
    color: #333;
    text-decoration: none;
}

footer a:hover {
    color: #ff69b4;
}
